<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.junilo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="false"
        android:fitsSystemWindows="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Junilo">
        <activity
            android:name=".PasswordRecovery"
            android:exported="false" />
        <activity
            android:name=".EmailVerification"
            android:exported="false">
            <intent-filter>
                <data
                    android:host="junilo.firebaseapp.com"
                    android:scheme="https" /></intent-filter>
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".PhoneVerification"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginPage" />
        </activity>
        <activity
            android:name=".Database"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegistrationPage"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>